*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
a{
    display: block;
}
img{
     /* height: 2%; */
     width: 35%;  
}
ul{
    list-style:none;/* removes bullets*/
    text-align:right;
    background-color: darkgoldenrod;
    padding:20px;
}
li{
    display:inline;
    padding:2px 4px;
    margin:2px;
    border:1px solid;
}
ul>li>a{
    display:inline;
    text-decoration: none;
}
li>a:hover{
    color:lightskyblue
}