*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary-text-color:red;
    --secondary-text-color:#444;
    --card-background-color:#fff;
    --parent-background-color: #eee;
}


.container{
    padding:45px;
    --backg-color: red;
    background-color: var(--parent-background-color);
    min-height: 100vh;


}
h1{
    text-align: center;
    background-color: var(--card-background-color);
    color:var(--primary-text-color);
    margin:20px;
    padding:20px;
}
h2{
    --backg-color: yellow;
    /* background-color: var(--backg-color); */
    color:var(--primary-text-color);

}
.box{
    padding:20px;
    /* --backg-color: red; */
    /* local variable */
    background-color: var(--card-background-color);
    margin-block: 20px; 
    border-radius:4%;

}
.box p{
    color: var(--secondary-text-color);
}
h4{
    padding: 45px;
    color:var(--primary-text-color);

    /* background-color: var(--backg-color, pink); */
    /* pink is the backup color */
}