body{
    background : whitesmoke;
    text-align: center;
}
.parent {
  border: 4px solid red;
  padding : 3px;
}
.child {
  width: 50%;
  padding: 20px;
  border: 4px solid green;
  margin : auto;
  /* margin-left: 360px; */
  text-align: center;
  font-size: xx-large;
}