*{
    box-sizing: border-box;
}
div{
    padding: 5px;
    border: 2px solid darkred;
    text-align: center;
    margin: 5px;
    font-size:larger;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 250px;
    height: 250px;
    font-family:'Courier New', Courier, monospace;
}
